<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include('partials/stylesheet') %>
  </head>
  <body>
    <!--navbar-->
    <%- include('partials/navbarAdmin') %>

    <div class="container mt-5">
      <div class="row">
        <div class="col">
          <div class="card shadow rounded text-center mt-5 mb-5">
            <div class="card header">Update Training</div>

            <div class="card-body">
              <form action="/update-training" method="POST">
                <div class="form-group">
                  <input
                    type="hidden"
                    name="trainingId"
                    value="<%= dataTraining[0].TRAINING_ID %>"
                  />

                  <input
                    class="form-control"
                    type="text"
                    value="<%= dataTraining[0].TRAINING_TITLE %>"
                    name="trainingTitle"
                    placeholder="TRAININ TITLE"
                  />
                  <br />

                  <textarea
                    class="form-control"
                    rows="4"
                    name="trainingDescription"
                    placeholder="TRAINING DESCRIPTION"
                  >
                                    <%= dataTraining[0].TRAINING_DESCRIPTION %>
                                </textarea
                  >
                  <br />

                  <input
                    class="btn btn-primary rounded"
                    type="submit"
                    value="Update Training"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('partials/javascript')%>
  </body>
</html>
